<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Distance Service</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div id="loading-overlay">
    <div id="loading-spinner"></div>
  </div>
  <div id="container">
    <div id="sidebar">
      <h3>Response</h3>
      <pre id="response"></pre>
      <input type="file" id="csvFile" accept=".csv">
      <input type="text" placeholder="Destination" id="destination">
      <input type="number" id="maxDistance" placeholder="Enter maximum distance in meters">
      <button onclick="processCSV()" id="processButton">Process CSV</button>
      <button id="downloadButton" onclick="downloadCSV()" disabled>Download Modified CSV</button>
    </div>
    <div id="map"></div>
  </div>

  <!-- <script>
    // Retrieve the API key from localStorage
    const apiKey = localStorage.getItem('apiKey');

    if (apiKey) {
      // Dynamically load the Google Maps API script with the stored API key
      const scriptTag = document.createElement('script');
      scriptTag.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&libraries=places&callback=initMap`;
      document.head.appendChild(scriptTag);
    } else {
      console.error('API key is missing. Please enter your API key.');
    }
  </script>
  <script src="scripts.js"></script> -->

  <script>
    const apiKey = "{{ api_key }}";
    const all_src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&libraries=places&callback=initMap`;

    const script = document.createElement('script');
    script.src = all_src;
    script.async = true;
    script.defer = true;

    script.onload = function() {
        console.log("Google Maps API script loaded successfully.");
    };
    
    document.body.appendChild(script);
  </script>

  <!-- Load the custom scripts file after the Google Maps API -->
  <script src="static/scripts.js"></script>

</body>
</html>
